
<script type="text/javascript" src="<%= @endpoint %>"></script>

<h1>business show</h1>


<%= @business.name %>

<div class="map_info_container" style="width: 100%; background: #fff; border: 1px solid darkgray; overflow: hidden; float: right;">
  <div id="map-canvas" style="width: 100%; height: 250px; background: #000;"></div>
  <div id="address_details" style="width: 200px; padding: 6px;">
  <h5 class="normalize">Address:</h5>
    <%= "#{@business.address}" %><br>
    <%= @business.city %>, <%= @business.state_code %>, <%= @business.postal_code %><br>
    <%= "<b>Phone:</b> #{number_to_phone(@business.phone, area_code: true)}".html_safe if @business.phone %>
    <br><br>

  </div>
</div>

<%= render 'businesses/map' %>
