<div class="container-fluid">
  <div class="row">
    <%= @business.name %>: <%= @menu.name %>
  </div>
</div>

Business: <br>
Menu Name: <br><br>

<% @category.each do |cat| %>

  <strong><%= cat.name %></strong><br>

  <% cat.menu_items.each do |item| %>
    - <%= link_to item.name, business_menu_menu_item_category_menu_item_path(@business, @menu, cat, item) %> (<%= item.description %>) - <%= item.price %> <%= image_tag item.menu_item_photos.first.photo.url if item.menu_item_photos.first %><br>
  <% end %>

<% end %>