<%= render 'shared/page_title', title: "Reviews for : " + @style.name  + " food" %>
<ul class="nav nav-tabs">
    <li class="active">
        <%= link_to "Reviews", reviews_path %>
    </li>
    <li>
        <%= link_to "Users", users_path %>
    </li>
</ul>


<h1>Review</h1>



<%= @review.title %>
<br/>
<%= @review.rating %>
<br/>
<%= @review.body %>


