<!DOCTYPE html>
<html>
<head>
  <title>Grubit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Economica%7COld+Standard+TT:400,400italic,700' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>

<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="col-xs-3">
        <ul class="nav navbar-nav navbar-left">
          <li><a>RESTAURANTS</a></li>
          <li><a>SEARCH</a></li>
        </ul>
      </div>
      <div class="col-xs-6">
        <%= image_tag "grub_logo.png", class: "center-block" %>
      </div>
      <div class="col-xs-3">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Sign in with Twitter", class: "btn btn-social-icon btn-twitter", user_omniauth_authorize_path(:twitter)%><i class ="fa fa-twitter"></i></li>
          <li><a>LOG IN</a></li>
        </ul>
      </div>
    </div>
  </nav>

<%= yield %>

<br><br>
  <%= params %>

  <div>
      <footer>
        <p class="pull-right"></p>
        <p>&copy; 2015 Grub One Out, by: Wes, David, Jeryl, Subhajit</p>
      </footer>

    </div>



</body>
</html>
